* {
    font-family: "IBM Plex Sans", sans-serif;
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

.contenedor {
    background-color: whitesmoke;
    color: black;
    display: flex;
    flex-direction: column;  
    min-height: 100vh;
}

ul { 
    list-style: none; 
}

a { 
    text-decoration: none;
    color: black;
}

main {
    flex: 1; 
    padding: 0 2rem 0 2rem ;  
}

.btn_menu {
    background: none;
    border: none;
    cursor: pointer;
}

.navbar {
    padding: 2rem 0 0 2rem
}

.menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 100;
    background-color: rgb(169, 169, 169);
    width: 200px;
    border: 1px solid #000000;
}

.item_menu,
.subitem_menu {
  width: 100%; 
  border: 1px solid black;
}

.subitem_menu {
    padding-left: 1rem;
}

.item_menu a,
.subitem_menu a, #btn_juego {
  display: block;           
  width: 100%;              
  padding: 10px 15px;      
  text-decoration: none;
  transition: background 0.3s ease, color 0.3s ease;
}

.subitem_menu a:hover, .item_menu a:hover, #btn_juego:hover {
  background: black;
  color: white;
}

.main_title, .info_title {
    margin-top: 3rem;
}

.main_p, .info_p {
    margin: 3rem 8rem 0rem 8rem ;
    text-align: center;
}

.main_img {
    width: 100%;
    height: 25dvh;
    margin: 3rem 0 3rem 0;
    object-fit: cover;
}

@media (max-width: 568px) {
    
    .main_p {
        margin: 3rem 4rem 0rem 4rem ;
        text-align: left;
    }

    .info_p {
         margin: 3rem 2rem 0rem 2rem ;
    }
}

footer {
    height: auto;
    min-height: 15dvh;
    width: 100dvw;
    background-color: black;
    color: whitesmoke;
}